.zh-search-h{
    display:flex;
    border-bottom: 6px solid #eee;
    width: 100vw;
    height: 120px;
    .zh-logo{
        position: relative;
        width: 150px;
        height: 120px;
        img{
            position: absolute;
            top: 0%;
            left: 14px;
        }
    }
    .zh-sea{
        background-color:#fff;
        width:450px;
        height: 70px;
        color: #999;
        margin: 10px 12px 20px 30px;
        font-size: 15px;
        border-radius: 40px;
        position: relative;
        overflow: hidden;
        border:1px solid  #8590a6;
        img{
            position: absolute;
            top:26%;
            left: 20px;
        }
        input{
            color: #1a1a1a;
            // background-color: hsla(0,0%,92.2%,.72);
            position: absolute;
            width: 77%;
            top: 18%;
            left: 70px;
            font-size: 30px;
            border: 0;
            outline: none;
        }
    }
    .zh-sea-del{
        position: relative;
        width: 90px;
        height: 90px;
        span{
            font-size: 30px;
            color: #0084ff;
            position: absolute;
            left: 18%;
            top: 40%;
        }
    }
    
}
.zh-search-main{
    .z-s-m-s{
        margin: 0 24px 28px;
        padding-top: 28px;
        font-size: 30px;
        .z-s-m-s-title{
            font-weight: 500;
            color: #1a1a1a;
            font-size: 33px;
        }
        .z-s-m-s-list{
            display: flex;
            margin-top: 34px;
            flex-wrap: wrap;
            .z-s-m-s-item{
                margin-bottom: 20px;
                display: flex;
                width: 50%;
                .z-s-m-s-i-index{
                    font-size: 30px;
                    width: 36px;
                    height: 36px;
                    color: #999;
                }
                .z-s-m-s-i-text{
                    margin-left: 10px;
                    .z-s-m-s-itemtext{
                        font-size: 13px;
                        color: #999;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
    .z-s-m-h{
        margin: 0 24px 28px;
        padding-top: 28px;
        font-size: 30px;
        .z-s-m-h-title{
            font-weight: 500;
            color: #1a1a1a;
            font-size: 33px;
        }
    }
}